.bar {
  background-color: #ffffff;
  background-image: url("../images/stave.svg");
  background-size: auto 100%;
  background-repeat: repeat-x;
  float: left;
  height: 16em;
  position: relative;
  width: 50em;
}

.bar .stave-header {
  background-color: #ffffff;
  background-image: url("../images/stave-header.svg");
  background-size: auto 100%;
  height: 16em;
  left: -16em;
  position: absolute;
  width: 16em;
  z-index: -1;
}

.bar:first-child .stave-header {
  background-color: #ffffff;
  background-image: url("../images/stave-header-time-signature.svg");
}

.bar-line {
  background-color: transparent;
  background-image: url("../images/bar-line.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 16em;
  position: absolute;
  right: 0;
  width: 1em;
}

.bold-double-bar-line {
  background-color: transparent;
  background-image: url("../images/bold-double-bar-line.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 16em;
  position: absolute;
  right: 0;
  width: 1.17em;
}


.whole-note { /*Arthur*/
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 6;
  height: 16em;
  justify-self: center;
  margin: 0 2.58em;
  width: 2.83em;
}

.whole-notesharp { /*Arthur*/
  background-color: rgba(0,250,0, 0.4);
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 6;
  height: 16em;
  justify-self: center;
  margin: 0 2.58em;
  width: 2.83em;
}

.whole-note-spacer {
  width: 8em;
}

.whole-note.c6, .whole-notesharp.c6, .whole-note.b6, .whole-note.a6, .whole-notesharp.a6, .whole-note.g5, 
.whole-notesharp.g5, .whole-note.f5, .whole-notesharp.f5, .whole-note.e5, .whole-note.d5, .whole-notesharp.d5,
.whole-note.c5, .whole-notesharp.c5, .whole-note.b5, .whole-note.a5, .whole-notesharp.a5, .whole-note.g4, .whole-notesharp.g4,
.whole-note.f4, .whole-notesharp.f4, .whole-note.e4, .whole-note.d4, .whole-notesharp.d4, .whole-note.c4, .whole-notesharp.c4, 
.whole-note.b4, .whole-note.a4, .whole-notesharp.a4 {
  background-image: url("../images/whole-note.svg");
}

.half-note {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 4;
  height: 16em;
  justify-self: center;
  margin: 0 2.58em;
  width: 2.83em;
}

.half-notesharp {
  background-color: rgba(0,250,0, 0.4);
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 4;
  height: 16em;
  justify-self: center;
  margin: 0 2.58em;
  width: 2.83em;
}

.half-note.c6, .half-notesharp.c6, .half-note.b6, .half-note.a6, .half-notesharp.a6, .half-note.g5, 
.half-notesharp.g5, .half-note.f5, .half-notesharp.f5, .half-note.e5, .half-note.d5, .half-notesharp.d5,
.half-note.c5, .half-notesharp.c5, .half-note.b5 {
  background-image: url("../images/half-note-down.svg");
}

.half-note.a5, .half-notesharp.a5, .half-note.g4, .half-notesharp.g4, .half-note.f4, 
.half-notesharp.f4, .half-note.e4, .half-note.d4, .half-notesharp.d4, .half-note.c4, 
.half-notesharp.c4, .half-note.b4, .half-note.a4, .half-notesharp.a4 {
  background-image: url("../images/half-note-up.svg");
}

.half-note-spacer {
  width: 4em;
}

.quarter-note {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 4;
  height: 16em;
  justify-self: center;
  margin: 0 2.58em;
  width: 2.83em;
}

.quarter-notesharp {
  background-color: rgba(0,250,0, 0.4);
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 4;
  height: 16em;
  justify-self: center;
  margin: 0 2.58em;
  width: 2.83em;
}

.quarter-note.c6, .quarter-notesharp.c6, .quarter-note.b6, .quarter-note.a6, .quarter-notesharp.a6, .quarter-note.g5, 
.quarter-notesharp.g5, .quarter-note.f5, .quarter-notesharp.f5, .quarter-note.e5, .quarter-note.d5, .quarter-notesharp.d5,
.quarter-note.c5, .quarter-notesharp.c5, .quarter-note.b5 {
  background-image: url("../images/quarter-note-down.svg");
}

.quarter-note.a5, .quarter-notesharp.a5, .quarter-note.g4, .quarter-notesharp.g4, .quarter-note.f4, 
.quarter-notesharp.f4, .quarter-note.e4, .quarter-note.d4, .quarter-notesharp.d4, .quarter-note.c4, 
.quarter-notesharp.c4, .quarter-note.b4, .quarter-note.a4, .quarter-notesharp.a4  {
  background-image: url("../images/quarter-note-up.svg");
}

.eighth-note {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 2;
  height: 16em;
  justify-self: center;
  margin: 0 0.58em;
}

.eighth-notesharp { /*Arthur*/
  background-color: rgba(0,250,0, 0.4);
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 2;
  height: 16em;
  justify-self: center;
  margin: 0 0.58em;
}

.eighth-note.c6, .eighth-notesharp.c6, .eighth-note.b6, .eighth-note.a6, .eighth-notesharp.a6, .eighth-note.g5, 
.eighth-notesharp.g5, .eighth-note.f5, .eighth-notesharp.f5, .eighth-note.e5, .eighth-note.d5, .eighth-notesharp.d5,
.eighth-note.c5, .eighth-notesharp.c5, .eighth-note.b5 {/*Arthur*/
  background-image: url("../images/eighth-note-down.svg");
  width: 2.83em;
}

.eighth-note.a5, .eighth-notesharp.a5, .eighth-note.g4, .eighth-notesharp.g4, .eighth-note.f4, 
.eighth-notesharp.f4, .eighth-note.e4, .eighth-note.d4, .eighth-notesharp.d4, .eighth-note.c4, 
.eighth-notesharp.c4, .eighth-note.b4, .eighth-note.a4, .eighth-notesharp.a4 {
  background-image: url("../images/eighth-note-up.svg");
  width: 6.83em;
}

.three-eighth-note {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 4;
  height: 16em;
  justify-self: center;
  margin: 0 1.58em;
  width: 4.83em;
}
.three-eighth-notesharp {
  background-color: rgba(0,250,0, 0.4);
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 4;
  height: 16em;
  justify-self: center;
  margin: 0 1.58em;
  width: 4.83em;
}

/*Arthur*/
.three-eighth-note.c6, .three-eighth-note.b6, .three-eighth-note.g5, .three-eighth-note.e5, .three-eighth-note.c5 {
  background-image: url("../images/three-eighth-note-down.svg");
}

.three-eighth-note.a6, .three-eighth-note.f5, .three-eighth-note.d5, .three-eighth-note.b5 {
  background-image: url("../images/three-eighth-note-offset-down.svg");
}

.three-eighth-note.a5, .three-eighth-note.f4, .three-eighth-note.d4, .three-eighth-note.b4 {
  background-image: url("../images/three-eighth-note-up.svg");
}

.three-eighth-note.g4, .three-eighth-note.e4, .three-eighth-note.c4 {
  background-image: url("../images/three-eighth-note-offset-up.svg");
}

.three-eighth-note-spacer {
  grid-column: span 2;
}



/*Arthur added additional notes*/
.c6 {
  transform: translate(0, -8em);
}

.b6 {
  transform: translate(0, -7em);
}

.a6 {
  transform: translate(0, -6em);
}

.g5 {
  transform: translate(0, -5em);
}

.f5 {
  transform: translate(0, -4em);
}

.e5 {
  transform: translate(0, -3em);
}

.d5 {
  transform: translate(0, -2em);
}

.c5 {
  transform: translate(0, -1em);
}

.b5 {
  transform: translate(0, 0);
}

.a5 {
  transform: translate(0, 1em);
}

.g4 {
  transform: translate(0, 2em);
}

.f4 {
  transform: translate(0, 3em);
}

.e4 {
  transform: translate(0, 4em);
}

.d4 {
  transform: translate(0, 5em);
}

.c4 {
  transform: translate(0, 6em);
}

.b4 {
  transform: translate(0, 7em);
}

.a4 {
  transform: translate(0, 8em);
}

.g3 {
  transform: translate(0, 9em);
}

.f3 {
  transform: translate(0, 10em);
}

.e3 {
  transform: translate(0, 11em);
}

.d3 {
  transform: translate(0, 12em);
}

.c3 {
  transform: translate(0, 13em);
}

@supports (display: grid) {
  .middle {
    display: grid;
  }

  .bar {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
  }

  .half-note {
    margin: 0;
  }

  .half-notesharp {
    margin: 0;
  }

  .half-note-spacer {
    grid-column: span 4;
    width: auto;
  }

  .quarter-note {
    margin: 0;
  }
  .quarter-notesharp {
    margin: 0;
  }

  .eighth-note {
    margin: 0;
  }

  .eighth-notesharp {
    margin: 0;
  }  

  .three-eighth-note {
    margin: 0;
  }
}

@media (min-width: 0px) {
  h1 {
    font-size: 1.8em;
    margin: 0.2em 0;
  }

  .bar {
    margin: 1em 0;
  }

  @supports (display: grid) {
    .sheet-music {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (min-width: 576px) {
  h1 {
    margin: 0.3em 0;
  }

  .bar {
    margin: 2em 0;
  }

  @supports (display: grid) {
    .sheet-music {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2em;
    margin: 0.6em 0;
  }

  .bar {
    margin: 3em 0;
  }

  @supports (display: grid) {
    .sheet-music {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 992px) {
  @supports (display: grid) {
    .sheet-music {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1200px;
    }
  }
}

@media (min-width: 1200px) {
  @supports (display: grid) {
    .sheet-music {
      max-width: 1900px;
    }
  }
}
